header
    min-height: 40px
    width: 100vw
    nav
        height: 40px
        position: fixed
        display: inline-block
        width: 100vw
        background-image: radial-gradient( circle 602px at 22.9% 55.3%,  rgba(31,116,116,1) 7.1%, rgba(3,27,27,1) 90% )
        z-index: 9 
        .menu
            padding-top: 10px
            padding-left: 30px
            display: flex
            list-style: none
            &_item
                text-decoration: none
                color: white
                font-size: 20px
                margin-right: 20px
                font-weight: 700
                a:-webkit-any-link
                    text-decoration: none
                    color: #66FCF1
                i 
                    color: #66FCF1
.main
    padding: 80px 0 60px 0
    min-height: 550px
    h1 
        max-width: 800px
        font-size: 60px
    h2 
        display: block
        margin: 0 auto
        max-width: 650px
        margin-top: 15px
        text-align: center
        font-size: 25px
        color: white
        line-height: 45px
    .service
        display: flex
        flex-direction: row
        justify-content: space-around
        align-content: center
        align-items: center
        margin-top: 120px
        &_item
            position: relative
            text-align: center
            width: 200px
            z-index: 5
        i
            font-size: 40px
            text-align: center
            color: #66FCF1
            z-index: 6
        .service_descr 
            display: none
            position: absolute
            top: -20px
            left: -15px
            padding: 20px 10px
            padding-top: 70px
            background-color: #f1f1f1
            width: 220px
            color: #66FCF1
            background-color: #00000093
            font-size: 18px
            line-height: 30px
            border: solid 2px #66fcf2b7
            border-radius: 8px    
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2)
            z-index: 1
        .service_item:hover .service_descr
            display: block
.skills
    position: relative
    padding: 60px 0 60px 0
    min-height: 700px
    .skills_list
        margin-top: 20px
        list-style: none
        display: flex
        flex-flow: wrap
        justify-content: space-around
        align-content: center
        align-items: center
        .skills_list_item
            width: 295px
            min-height: 200px
            border: solid 2px #144450b7
            border-radius: 30px
            background-color: #66FCF1b5
            margin-top: 10px
            color: black
            img
                display: block
                margin: 0 auto
                width: 100px
                height: 100px
            .skills_descr
                margin-top: 15px
                text-align: center
.small
    width: 70px
.portfolio
    position: relative
    padding: 50px 0 60px 0
    min-height: 900px
    background: url("../img/SurfaceLaptop.png")
    background-size: 1200px 750px
    background-repeat: no-repeat
    background-position: bottom
    h1 
        margin-bottom: 0
    .portfolio-carousel
        position: relative
        display: block
        margin: 0 auto
        max-width: 650px 
        top: 80px
        img
            width: 647px
            height: 439px
            margin: 0 auto
    .slick-prev, .slick-next  
        position: absolute
        top: 50%
        transform: translateY(-50%)
        left: -96px
        border: none
        background-color: #ffffff00
        padding: 0
        margin: 0
        cursor: pointer
        i 
            color: #66FCF1
            background-color: none
            font-size: 50px
    .slick-next
        right: -86px
        left: auto
.news
    position: relative
    min-height: 700px
    padding: 60px 0
    &_blog
        display: flex
        flex-direction: row
        justify-content: space-around
        &_item
            position: relative
            height: 480px
            padding: 10px 10px
            width: 290px
            text-align: center
            background-color: #1f2833ea
            color: white
            border: 6px inset rgba(20,68,80,0.53)
            border-radius: 12px
            .news_text
                height: 220px
            .news_title
                height: 140px
                width: 130
                font-size: 25px
                margin-bottom: 15px
                font-style: bold
                color: #66FCF1
    .button 
        position: absolute
        top: 3%
        width: 130px
        height: 40px
        background: linear-gradient(to bottom, #031b1b 0%,#3e5158 100%)
        border: none
        border-radius: 5px
        position: relative
        border-bottom: 4px solid #243035
        color: #66FCF1
        text-shadow: 1px 1px 1px rgba(0,0,0,.4)
        font-size: 15px
        line-height: 35px
        text-align: left
        text-indent: 5px
        box-shadow: 0px 3px 0px 0px rgba(0,0,0,.2)
        cursor: pointer
        display: block
        margin: 20px auto
        text-decoration: none
    .button:active 
        box-shadow: 0px 2px 0px 0px rgba(0,0,0,.2)
        top: 2%
    .button:after 
        content: ""
        width: 0
        height: 0
        display: block
        border-top: 20px solid #243035
        border-bottom: 20px solid #243035
        border-left: 16px solid transparent
        border-right: 20px solid #243035
        position: absolute
        opacity: 0.6
        right: 0
        top: 0
        border-radius: 0 5px 5px 0
footer 
    background-image: radial-gradient( circle 602px at 22.9% 55.3%,  rgba(31,116,116,1) 7.1%, rgba(3,27,27,1) 90% )
    padding-bottom: 20px
    border-top: solid 2px #66FCF1
    .divider
        margin-top: 20px
    .footer_contacts
        margin: 0 auto
        margin-top: 35px
        display: flex
        width: 400px
        justify-content: space-between
        flex-direction: row
        list-style: none
        font-size: 30px
        a
            text-decoration: none
            color: #66FCF1