@media screen and ( max-width:1450px)       
    .main
        min-height: 800px
        background-size: 1440px 800px
        background-position: top
        .tablet
            img 
                width: 250px
                height: 350px
                margin-left: -30px
            &_text
                top: 66px
                left: 5px
                line-height: 23px
                font-size: 12px
                span 
                    font-size: 13px
        h1 
            max-width: 450px
            margin-bottom: 10px
        h2 
            font-size:    20px
            max-width: 500px  
    .carousel-item 
        height: 600px
        img
            height: 240px
            width: 254px
            transform: translate(-31%, 18%) 
    .title 
        font-size: 33px 
        max-width: 200px
@media screen and ( max-width:1025px)
    .title
        font-size: 28px
    header
        nav 
            .menu 
                &_item
                    font-size: 16px
    .main
        padding-top: 30px
        min-height: 600px
        background-size: 1020px 600px
        background-position: top
        h1 
            max-width: 300px
            font-size: 20px
        h2 
            max-width: 400px
            font-size: 14px
            line-height: 25px
        .tablet
            margin-left: 40px
            img 
                width: 200px
                height: 300px
            &_text
                top: 54px
                left: -1px
                line-height: 20px
                font-size: 10px
                span 
                    font-size: 12px
    .portfolio
        min-height: 700px
        background-size: 1000px 500px
        background-position: bottom
        .portfolio-carousel
            top: 166px
            left: 0
            .portfolio_img
                width: 537px
                height: 288px
@media screen and ( max-width:780px)
    .main
        .tablet
            display: none
    footer
        padding: 20px 0
    .portfolio
        min-height: 600px
        .portfolio-carousel
            top: 67px   
    .news
        min-height: 600px
        &_blog 
            flex-direction: column
            align-items: center
            &_item
                width: 310px
                margin-bottom: 15px            
@media screen and ( max-width:525px)
    .title
        margin-bottom: 20px
        font-size: 20px
        max-width: 180px
        height: 50px
        line-height: 44px
    .menu
        position: fixed
        flex-direction: column
        justify-content: center
        align-items: left
        top: 0
        left: -100%
        width: 47%
        height: 100vh
        padding: 20px 5px
        background-color: rgba(0,0,0, .8)
        transition: 0.6s all
        font-size: 15px
        .menu_item
        font-size: 13px
        margin-bottom: 15px
        &_active
            left: 0    
    .hamburger
        display: block
        position: absolute
        right: 20px
        top: 50%
        transform: translateY(-50%)
        width: 26px
        height: 12px
        span 
            display: block 
            height: 2px
            width: 100%
            background-color: #fff 
            margin-bottom: 2px
            transition: 0.5s all
    .hamburger_active 
        span 
            margin-bottom: -2px 
            &:nth-child(1)
                transform: translateY(3px) rotate(-45deg)
            &:nth-child(2)
                display: none
            &:nth-child(3)
                transform: translateY(3px) rotate(45deg)
    .main
        background-size: 400px 250px
        background-position: bottom 
        min-height: 450px
        .tablet
            display: none
        h2 
            font-size: 16px
            padding: 5px 10px
    .skills
        padding: 20px 0
    .portfolio
        background-size: 500px 350px
        background-position: bottom
        min-height: 400px
        padding: 20px 0
        h1 
            margin-bottom: 40px
        .portfolio-carousel
            top: -5px
            .portfolio_img
                width: 275px
                height: 210px
    .news
        margin: 0 auto
        &_blog
            flex-direction: column
            align-items: center
            &_item
                margin-bottom: 10px        
    footer
        padding: 20px 0 25px 0
        .footer_contacts
            width: 300px

    