@media (max-width: 1200px)
    
    .main
        background-size: 70%
    .carousel-item 
        height: 600px
        img
            height: 240px
            width: 254px
            transform: translate(-31%, 18%) 