@media screen and ( max-width:1450px)       
    .main
        min-height: 600px
    .carousel-item 
        height: 600px
        img
            height: 240px
            width: 254px
            transform: translate(-31%, 18%) 
@media screen and ( max-width:1025px)
    .title
        font-size: 35px
    .title span:first-child, .title span:last-child 
        top: 26px
    header
        nav 
            .menu 
                &_item
                    font-size: 16px
    .main
        padding-top: 30px
        min-height: 600px
        h2 
            max-width: 400px
            font-size: 14px
            line-height: 25px
    .service
        &_item
            i 
                font-size: 35px
    .skills
        .skills_list
            .skills_list_item
                width: 240px
                margin-top: 40px
    .portfolio
        min-height: 700px
        background-size: 1000px 500px
        background-position: bottom
        .portfolio-carousel
            top: 90px
            .portfolio_img
                width: 537px
                height: 294px
@media screen and ( max-width:780px)
    footer
        padding: 20px 0
    header
        nav 
            .menu
                &_item
                    font-size: 13px
    .portfolio
        min-height: 600px
        .portfolio-carousel
            top: -9px   
    .news
        min-height: 600px
        &_blog 
            flex-direction: column
            align-items: center
            &_item
                width: 310px
                margin-bottom: 15px            
@media screen and ( max-width:525px)
    .divider
        font-size: 25px
    .divider span:first-child, .divider span:last-child 
        top: 20px
    .title
        font-size: 25px
    .title span:first-child, .title span:last-child 
        top: 19px
    header
        nav
            .menu
                position: fixed
                flex-direction: column
                justify-content: center
                align-items: left
                top: 0
                left: -100%
                width: 55%
                height: 100vh
                padding-left: 10px
                background-color: rgba(0,0,0, .9)
                transition: 0.6s all
                font-size: 13px
                &_item
                    font-size: 16px
                    margin-bottom: 30px
                &_active
                    left: 0    
    .hamburger
        display: block
        position: absolute
        right: 20px
        top: 50%
        transform: translateY(-50%)
        width: 26px
        height: 12px
        span 
            display: block 
            height: 2px
            width: 100%
            background-color: #66FCF1
            margin-bottom: 2px
            transition: 0.5s all
    .hamburger_active 
        span 
            margin-bottom: -2px 
            &:nth-child(1)
                transform: translateY(3px) rotate(-45deg)
            &:nth-child(2)
                display: none
            &:nth-child(3)
                transform: translateY(3px) rotate(45deg) 
    .main
        min-height: 450px
        padding-bottom: 0
        h2 
            font-size: 15px
            padding: 5px 10px
        .service
            flex-direction: column
            margin-top: 40px
            &_item
                margin-bottom: 200px
            i 
                left: 80px
            .service_descr
                left: -8px
    .skills
        padding: 20px 0
        .skills_list_item
            padding: 10px 10px    
    .portfolio
        background-size: 440px 270px
        background-position: bottom
        min-height: 400px
        padding: 20px 0
        h1 
            margin-bottom: 40px
        .portfolio-carousel
            top: 35px
            .portfolio_img
                width: 236px
                height: 160px
    .news
        padding-top: 10px
        margin: 0 auto
        &_blog
            flex-direction: column
            align-items: center
            &_item
                margin-bottom: 10px
                width: 265px
                font-size: 14px
                line-height: 27px  
                .news_title
                    font-size: 20px
                    height: 110px 
                    line-height: 30px
        .button
            top: 5%  
        .button:active 
            top: 4% 
    footer
        padding: 20px 0 25px 0
        .footer_contacts
            width: 260px
            font-size: 23px

    