* 
    margin: 0
    font-family: 'Raleway', sans-serif
header
    min-height: 40px
    nav
        height: 40px
        position: fixed
        display: inline-block
        width: 100%
        background-color: #144450 
        .menu
            padding-top: 10px
            display: flex
            flex-direction: row
            list-style: none
            &_item
                text-decoration: none
                color: white
                font-size: 20px
                margin-right: 15px
                font-weight: 700
                a:-webkit-any-link
                    text-decoration: none
                    color: white
.main
    min-height: 1000px
    padding-top: 40px
    background: url("../img/firstbg2.png") center center/cover no-repeat
    h1 
        max-width: 550px
        display: block
        margin: 0 auto
        text-align: center
        font-size: 40px
        color: #144450b7
        border: solid 2px white
        border-radius: 40px
        background-color: #4c9eb3b7
    h2 
        margin-top: 26px
        text-align: center
        font-size: 30px
        color: #1444509d
        padding-right: 55px
        line-height: 45px


