header
    min-height: 40px
    nav
        position: fixed
        display: inline-block
        width: 100%
        background-color: #144450 
        .menu
            display: flex
            flex-direction: row
            list-style: none
            justify-content: space-between
            &_item
                text-decoration: none
                color: white
                font-size: 20px
                margin-right: 15px
                a:link 
                text-decoration: none
                color: white
.main
    min-height: 1000px
    background: url("../img/firstbg2.png") center center/cover no-repeat
    h1 
        min-width: 600px
        display: block
        padding: 220px 55px 0 0
        text-align: center
        font-size: 40px
        color: #144450


