* 
    margin: 0
    font-family: 'Raleway', sans-serif
.container 
    max-width: 950px
    margin: 0 auto
header
    min-height: 40px
    nav
        height: 40px
        position: fixed
        display: inline-block
        width: 100%
        background-color: #144450 
        .menu
            padding-top: 10px
            display: flex
            flex-direction: row
            list-style: none
            &_item
                text-decoration: none
                color: white
                font-size: 20px
                margin-right: 15px
                font-weight: 700
                a:-webkit-any-link
                    text-decoration: none
                    color: #CCD9D7
.main
    min-height: 1000px
    padding-top: 40px
    background: url("../img/firstbg2.png") center center/cover no-repeat
    h1 
        max-width: 550px
        display: block
        margin: 0 auto
        text-align: center
        font-size: 40px
        color: #144450b7
        border: solid 2px #CCD9D7
        border-radius: 40px
        background-color: #CCD9D7
    h2 
        display: block
        margin: 0 auto
        max-width: 650px
        margin-top: 35px
        text-align: center
        font-size: 27px
        color: #144450b7
        padding-right: 55px
        line-height: 45px
        border: solid 2px #CCD9D7
        border-radius: 40px
        background-color: #CCD9D7
.skills
    background-color: #CCD9D7
    padding: 60px 0 60px 0
    h1 
        text-align: center
        font-weight: 700
        font-size: 40px
        color: #144450b7
        ul 
            list-style: none


